.login-container {
  max-width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container {
  height: 400px;
  width: 100%;
}
