<html th:replace="~{layout/base ::html}">
    <div th:fragment="contenido" class="container">
      <div class="login-container mx-auto">
        <h2 class="text-center text-primary fw-bold">MetaMapa</h2>
        <form th:action="@{/login}" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="username"
              placeholder="nombre@ejemplo.com"
              required
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Contraseña"
              required
            />
          </div>
          <button
            type="submit"
            class="btn btn-lg btn-primary text-white w-100 mt-1"
          >
            Iniciar Sesión
          </button>
        </form>
        <hr class="my-4" />
        <div class="text-center">
          <p class="mb-0 text-muted">
            ¿No tenés cuenta?
            <a th:href="@{/register}" class="link-primary text-decoration-none"
              >Registrate acá</a
            >
          </p>
        </div>
      </div>
    </div>

</html>
