<html th:replace="~{layout/base ::html}">
    <div th:fragment="contenido" class="container">
      <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show border-0 shadow-sm my-4" role="alert">
        <div class="d-flex align-items-center">
          <div>
            <strong th:text="${error}"></strong>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div class="login-container mx-auto">
        <h2 class="text-center text-primary fw-bold">Registro</h2>
        <form th:action="@{/register}" th:object="${usuario}" method="post">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre completo</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Nombre Completo"
              th:field="*{nombre}"
              required
            />
          </div>

          <div class="mb-3">
            <label for="birthdate" class="form-label">Fecha de nacimiento</label>
            <input
                    type="date"
                    class="form-control"
                    id="birthdate"
                    name="birthdate"
                    th:field="*{fechaNacimiento}"
                    required
            />
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="name@example.com"
              th:field="*{correo}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Contraseña"
              th:field="*{contrasenia}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label"
              >Confirmar Contraseña</label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              placeholder="Confirmar Contraseña"
              required
            />
          </div>

          <button class="btn btn-primary w-100 py-2" type="submit">
            Registrarse
          </button>
          <hr class="my-4" />
          <p class="mt-4 mb-0 text-muted text-center">
            ¿Ya tenés una cuenta? <a href="/login">Iniciar sesión</a>
          </p>
        </form>
      </div>
    </div>

</html>
