<html th:replace="~{layout/base ::html}">
<div th:fragment="contenido" class="flex-grow-1">


      <div class="container my-5">
        <h1 class="mb-4">Colecciones</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div th:each="coleccion : ${colecciones}" class="col">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title" th:text="${coleccion.titulo}"></h5>
                <p class="card-text" th:text="${coleccion.descripcion}"></p>
                  <p class="card-text">
                      <strong>Hechos:</strong> <span th:text="${coleccion.totalDeHechos}">500</span>
                  </p>
                  <a
                          th:href="@{/visualizador/colecciones/{id}(id=${coleccion.id})}"
                  class="btn btn-primary mt-auto"
                  >Ver Colección</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>
</html>
